.check-box {
    position: relative;
    margin-bottom: 12px;

    &__custom {
        font-size: 1.3rem;
        color: $second_text_color;
        @include flex(center, flex-start);

        input {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        input:checked ~ span {
            background-color: $main_color;
        }

        input:checked ~ span > i {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        &__slug {
            width: 15px;
            height: 15px;
            border: 1px solid $second_text_color;
            margin-right: 12px;
            transition: transform 0.6s ease;
            @include flex(center, center);

            i {
                opacity: 0;
                visibility: hidden;
                transform: scale(0);
                color: $text_white;
                font-size: 1.3rem;
            }
    
        }
    }
}